
.header{
    background-color: #1F2937;
    padding-bottom: 90px;
    color: #F9FAF8;
    display: flex;
    border-color: #1F2937;
    justify-content: space-around;
    padding-top: 15px;
}

h3{
    display: flex;
    font-size: 20px;
}

.links{
    display: flex;
    justify-content: space-between;
   justify-content: flex-end;
}

.two{   
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}



.header-again{
    display: flex;
 background-color: #1F2937;
 
 justify-content: space-around;
}


p{
    color: #E5E7EB;
    display: flex;
    width: 300px;
    font-size: 18px;
}

.awesome{
    display: flex;
    color: #F9FAF8;
    width: 300px;
    font-size: 48px;
    align-self: flex-start;
}

.clicker{
    display: flex;
   justify-content: center;
    align-self: flex-start;
}

button{
    color: #E5E7EB;
    background-color: #3882F6;
    width: 100px;
    border-radius: 10px;
    border-color: #3882F6;
}

.dog{
    display: flex;
    width: 400px;
    height: 200px;
    align-self: flex-end;
    margin-bottom: 100px;
    border: 0px;
}

.facts{
    justify-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.citrus{
    display: flex;
   justify-content: center;
}

img{
  margin: 10px;
}

.kumquat{
    margin-right: 15px;
    width: 150px;
}

.orange{
    margin-right: 15px;
    width: 150px;
}

.lemon{
    margin-right: 15px;
    width: 150px;
}

.grapefruit{
    margin-right: 15px;
    width: 150px;
}

.quote-box{
    display: flex;
    background-color: #E5E7EB;
    margin-top: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: center;
    flex-wrap: wrap;
}

.quote{
    font-size: 36px;
    font-weight: 300px;
    color: #1F2937;
}

.quoter{
    display: flex;
    padding-left: 400px;
    font-size: 17px;
    font-weight: 100px;
}

.click-here{
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 150px;
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
}

.action{
    font-size: 20px;
    font-weight: bold;
}

.sign-up{
    font-size: 16px;
}

.text-again{
    padding-right: 50px;
}

.press{
    display: flex;
    border-color: #E5E7EB;
    justify-self: flex-end;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 30px;
    justify-content: center;
}

.footer-text{
    display: flex;
    padding-top: 22.5px;
}

*{
    margin: 0;
    font-family:;
}